.header{
    background-color: rgb(60, 60, 60);
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1000; /* Makes sure the header is on top of other elements */
}

.button-style{
    background-color: rgb(60, 60, 60);
    border: transparent;
}

.button-style a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Ensures the link takes on the color of its parent span */
}

.button-style a:focus,
.button-style a:active {
    outline: none; /* Removes the faint outline that can appear on click */
}

.button-style span{
    cursor: pointer;
    width: 100px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(60, 60, 60);
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3 ease;
}

.button-style:hover span {
    border-bottom: 3px solid white; /* Bottom border becomes white and thicker on hover */
    font-weight: bold; /* Bold text on hover */
    font-size: 25px;
}